zipFile.zip filter=lfs diff=lfs merge=lfs -text
2912e3ba-84b2-4292-826d-c4f6fbb351f0.MP4 filter=lfs diff=lfs merge=lfs -text
IMG_0505.mov filter=lfs diff=lfs merge=lfs -text
IMG_4377.mov filter=lfs diff=lfs merge=lfs -text
b27ce83f-d548-4172-a450-c431ac2c1e12.MP4 filter=lfs diff=lfs merge=lfs -text
fa14d6a3-ada3-4a78-b4a6-ecda2a3115bc.MP4 filter=lfs diff=lfs merge=lfs -text
ScreenRecording_11-28-2025[[:space:]]21-47-31_1[[:space:]]copy[[:space:]]2.mp4 filter=lfs diff=lfs merge=lfs -text
ScreenRecording_11-28-2025[[:space:]]21-47-31_1[[:space:]]copy[[:space:]]3.mp4 filter=lfs diff=lfs merge=lfs -text
ScreenRecording_11-28-2025[[:space:]]21-47-31_1[[:space:]]copy.mp4 filter=lfs diff=lfs merge=lfs -text
